body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Form container */
.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.form {
    display: none;
}

.form.active {
    display: block;
}

.form h1 {
    margin-bottom: 20px;
    position: absolute;
    left: 45%;
    top: 20%;
}

.form input {
    width:  100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form input[type="submit"] {
    width: 40%;
    padding: 10px;
    margin-left: 100px;
    border: none;
    border-radius: 5px;
    background:  #007BFF;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

.form #username, #password{
    margin: 10px 0 0;
}

.form p {
    margin-left: 40px; 
}


.form p a {
    color: #007BFF;
    text-decoration: none;
}
